@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi;
  }
}
.ReactModalPortal {
  position: relative;
  z-index: 20000;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
